<template>
    <form v-on:submit.prevent="signIn()">
        <div>
            <label>
                Email:<br>
                <input type="email" v-model="email">
            </label>
        </div>
        <div>
            <label>
                password:<br>
                <input type="text" v-model="password">
            </label>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</template>

<script>

import { mapActions } from 'vuex';

export default {
    name: "Login",
    data: () => ({
        email: "",
        password: "",
    }),
    computed: {

    },
    methods: {
        ...mapActions(['LOGIN']),
        signIn() {
            this.LOGIN({
                email: this.email,
                password: this.password,
            });
        }
    },
}
</script>

<style scoped>

</style>
