<template>
    <div id="app">
        <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link>
        </div>
        <div v-if="IS_LOGIN">
            <button v-on:click="LOGOUT">Logout</button>
            <router-view/>
        </div>
        <div v-else>
            <login-form/>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import LoginForm from './components/Login';

export default {
    name: "App",

    components: {
        LoginForm,
    },
    computed: {
        ...mapGetters(['IS_LOGIN']),
    },
    methods: {
        ...mapActions(['LOGOUT', 'SET_TOKEN']),
    },
    mounted() {
        const token = localStorage.getItem('access_token');
        if (token) {
            this.SET_TOKEN(token);
        }
    }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
